.vs/
.vscode/
.vscode-test/
.vscode-tests/
.vscode-tool-extensions/
.vscode-tool-extensions-test/
__pycache__/
.pytest_cache/
.pytest_cache/__pycache__/
.pytest_cache/__pycache__/__init__.cpython-36.pyc
.veval/
.venv
.venv-test/
.venv-test/__pycache__/
env
env-test/
env-test/__pycache__/
.env/
.env-test/
.env-test/__pycache__/
.env/bin/
.env-test/bin/
.env/lib/
.env-test/lib/
/lib/python3.6/
/lib/python3.6/site-packages/
/lib/python3.6/site-packages/__pycache__/